body {
    background: #121212;
    opacity: 0;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.logo {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    float: left;
    position: relative;
    left: 10px;
    top: -90px;
}
.underline-logo {
    background: #03DAC6;
    width: 60px;
    height: 5px;
    border-radius: 10px;
    position: relative;
    top: -48px;
    left: 10px;
    transition: width 1s;
}
.underline-logo:hover {
    width: 113px;
}
  
.weather-project {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 1px solid white;
  position: relative;
  top: 20px;
}
.titleweather {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    position: relative;
    top: 20px;
}
.linkweather {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #03DAC6;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 30px;
}
.descriptionweather {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #6f7074;
    text-align: center;
    position: relative;
    top: -40px;
}
.openweather {
    text-decoration: none;
    color: #6f7074;
}
.fylo-project {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 1px solid white;
  position: relative;
  top:5px;

}
.titlefylo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    position: relative;
    top: 0px;
}
.linkfylo {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #03DAC6;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 45px;
}
.descriptionfylo {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #6f7074;
    text-align: center;
    position: relative;
    top: -55px;
}
.frontendmentor {
    text-decoration: none;
    color: #6f7074;
}
.huddle-project {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 1px solid white;
  position: relative;
}
.titlehuddle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    position: relative;
}
.linkhuddle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #03DAC6;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 50px;
}
.descriptionhuddle {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #6f7074;
    text-align: center;
    position: relative;
    top: -55px;
}
.frontendmentor {
    text-decoration: none;
    color: #6f7074;
}
.links {
    text-align: center;
}
.projets {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    position: relative;
    top: 60px;
    text-shadow: 1px 1px 1px grey,
    1px 1px 1px grey,
    1px 2px 1px grey,
    1px 3px 1px grey,
    1px 4px 1px grey,
    1px 5px 1px grey,
1px 9px 3px rgba(16,16,16,0.4),
1px 1px 5px rgba(16,16,16,0.2),
1px 2px 3px rgba(16,16,16,0.2),
1px 3px 3px rgba(16,16,16,0.4);
}
@media only screen and (min-width: 768px) {
    .projets {
        font-size: 50px;
        text-shadow:1px 1px 1px grey,
        1px 3px 1px grey,
        1px 4px 1px grey,
        1px 5px 1px grey,
        1px 6px 1px grey,
        1px 7px 1px grey,
    1px 9px 3px rgba(16,16,16,0.4),
    1px 1px 5px rgba(16,16,16,0.2),
    1px 2px 3px rgba(16,16,16,0.2),
    1px 3px 3px rgba(16,16,16,0.4);
    top: 10px;
    }
    .logo {
        top: -150px;
    }
    .underline-logo {
        top: -112px;
    }
    .weather-project {
        width: 550px;
        left: -55px;
    }
    .linkweather {
    }
    .fylo-project {
        width: 550px;
    }
    .linkfylo {
        top: 15px;
    }
    .huddle-project {
        width: 550px;
    }
    .linkhuddle {
        top: 15px;
    }
  }